#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.*

# .tfvars files
*.tfvars

# archive
archive*

# app
app/**
!app/lambda.py
app_gcp/**
!app_gcp/lambda_gcp.py

# enviroment variable
.envrc